@import './assets/css/tailwind.css';
@import './assets/css/forms.css';

:root {
  @apply text-base-content;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

.app-content-grid {
  display: grid;
  grid-template-columns: theme('spacing.5') auto theme('spacing.5');

  & > *:not([class*="col-"]) {
    grid-column: 2;
  }
}

table {
  @apply w-full;

  & th {
    @apply bg-neutral first:rounded-tl-md last:rounded-tr-md;
  }

  & :where(th, td) {
    @apply p-3 text-left;
  }

  & td {
    @apply border-b border-neutral;
  }
}

#modal-root {
  @apply fixed top-0 left-0;
}
